
.el-upload--text {
  width: 180px;
  height: 180px;
  text-align: center;
  font-size: 24px;
  // line-height: 180px;
}

.product-manage .product-list .el-table-column--selection .cell {
  text-align: center;
}